.devise-form-page.wrap
  .wrap.wrap__narrow-ultra
    %h2 Sign up
    = form_for(resource,
              as: resource_name,
              url: registration_path(resource_name)) do |f|

      = devise_error_messages!
      = f.fields_for(:customer, resource.build_customer) do |ff|
        .field
          = ff.label :name
          = ff.text_field :name
      .field
        = f.label :email
        = f.email_field :email, autofocus: true
      .field
        = f.label :password
        = f.password_field :password, autocomplete: 'off'
      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: 'off'

      .actions
        = f.submit 'Sign up', class: 'btn'
    = render 'devise/shared/links'
