= form_for @testimonial do |f|
  = f.error_messages
  = tabs do
    = tab :content do
      .field
        = f.label :author
        = f.text_field :author
      .field
        = f.label :title
        = f.text_field :title
      .field
        = f.label :quote
        = f.text_area :quote
  .actions.form-page__actions
    = f.submit class: 'btn'
    = link_to_delete 'Delete', @testimonial, redirection: testimonials_path, class: 'btn btn--secondary' unless @testimonial.new_record?
