.row.wrap

  .gs
    %fieldset.g-1{style: 'background-color: rgba(0, 0, 0, 0.1)'}
      %h2 C.store_name
      %p= C.store_name

    %fieldset.g-1{style: 'background-color: rgba(0, 0, 0, 0.1)'}
      %h2 C.domain_name
      %p= C.domain_name

    %fieldset.g-1{style: 'background-color: rgba(0, 0, 0, 0.1)'}
      %h2 C.email
      %p= C.email

    %fieldset.g-1{style: 'background-color: rgba(0, 0, 0, 0.1)'}
      %h2 C.enquiries_email
      %p= C.enquiries_email

    %fieldset.g-1{style: 'background-color: rgba(0, 0, 0, 0.1)'}
      %h2 C.errors_email
      %p= C.errors_email

    %fieldset.g-1{style: 'background-color: rgba(0, 0, 0, 0.1)'}
      %h2 C.order_notification_email
      %p= C.order_notification_email

    %fieldset.g-1{style: 'background-color: rgba(0, 0, 0, 0.1)'}
      %h2 C.ebay_paypal
      %p= C.ebay_paypal

  .gs.g-gutter--bottom
    %fieldset.g-1{style: 'background-color: rgba(0, 0, 0, 0.1)'}
      %h2 c/ logo--checkout.svg
      = image_tag 'c/logo--checkout.svg'

    %fieldset.g-1{style: 'background-color: rgba(0, 0, 0, 0.1)'}
      %h2 c/ logo--dark.svg
      = image_tag 'c/logo--dark.svg'

    %fieldset.g-1{style: 'background-color: rgba(0, 0, 0, 0.1)'}
      %h2 c/ logo--light.svg
      = image_tag 'c/logo--light.svg'

  %fieldset.g-1{style: 'background-color: rgba(0, 0, 0, 0.1)'}
    %h2 c/ login_background.jpg
    = image_tag 'c/login_background.jpg'
