= form_for @customer do |f|
  = f.error_messages
  .gs
    .fixed-form-panel
      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :email, 'Display Email'
        = f.text_field :email
      .field
        = f.label :company
        = f.text_field :company
      .field
        = f.label :phone
        = f.text_field :phone
      .field
        = f.label :mobile
        = f.text_field :mobile
      .field.full_form
        = f.label :fax
        = f.text_field :fax
      .field.full_form
        = f.image_field :thumbnail
      .actions.form-page__actions
        = f.submit class: 'btn'
        = link_to_delete 'Delete', @customer, redirection: customers_path, class: 'btn btn--secondary' unless @customer.new_record?
    .g-1

      = tabs do

        = tab :account, 'Login Details' do
          -# - byebug
          = f.fields_for :account do |ff|
            .field
              = ff.label :email
              = ff.text_field :email, :autocomplete => :off

            .field
              = ff.label :password
              = ff.password_field :password, :autocomplete => :off

            .field
              = ff.label :account_type
              = ff.select :account_type, C::CustomerAccount.account_types.keys.map { |key| [key.humanize, key] }

            .field
              = ff.label :payment_type
              = ff.select :payment_type, C::CustomerAccount.payment_types.keys.map { |key| [key.humanize, key] }

        = tab :orders, 'Orders' do
          - if !@customer.new_record? && @customer.orders.any?
            .panel
              %table.index_table
                %thead
                  %tr
                    %th Order Number
                    %th Product(s)
                    %th.no-wrap Date
                    %th Total
                %tbody
                  - @customer.orders.each do |order|
                    %tr
                      %td= link_to order.order_number
                      %td= order.items.collect { |item| item.name }.join(', ')
                      %td.no-wrap= order.recieved_at
                      %td= humanized_money_with_symbol order.total_price
          - else
            This is where this customer's orders will show

        = tab :history, 'History' do
          - if @customer.account
            %table.index_table
              %tbody
                %tr
                  %th Account Created
                  %td= @customer.account.created_at
                %tr
                  %th Last Sign in
                  %td= @customer.account.last_sign_in_at

        = tab :addresses, 'Contact Details' do

          .tab_panel_links
            - unless @customer.new_record?
              = link_to 'Add Address', [:new, @customer, :address], class: 'btn btn--secondary'
          .gs
            - @customer.addresses.each do |address|
              .address_card{ style: "margin-top: 16px; flex-basis: 20%;" }
                = presenter(address).block
                %p
                  = address.phone
                  %br
                  = address.fax
                = link_to 'Edit', edit_customer_address_path(@customer, address)
        = tab '?' do
          %h3 Manage Customer

        - if @customer.has_custom_fields?
          = tab :custom_fields do
            = render 'custom_fields', object: @customer, model_name: :customer
