%footer.footer
  .footer__inner
    .footer__links
      %h4 links
      %ul
        %li
          = link_to 'link to somewhere', '#'
        %li
          = link_to 'link to somewhere', '#'
        %li
          = link_to 'link to somewhere', '#'
        %li
          = link_to 'link to somewhere', '#'
        %li
          = link_to 'link to somewhere', '#'
        %li
          = link_to 'link to somewhere', '#'
    .footer__links
      %h4 links
      %ul
        %li
          = link_to 'link to somewhere', '#'
        %li
          = link_to 'link to somewhere', '#'
        %li
          = link_to 'link to somewhere', '#'
        %li
          = link_to 'link to somewhere', '#'
    .footer__links
      %h4 links
      %ul
        %li
          = link_to 'link to somewhere', '#'
        %li
          = link_to 'link to somewhere', '#'
        %li
          = link_to 'link to somewhere', '#'
        %li
          = link_to 'link to somewhere', '#'
        %li
          = link_to 'link to somewhere', '#'
    .footer__links
      %h4 Social media
      %ul
        %li= link_to fa_icon('facebook-square')
        %li= link_to fa_icon('twitter-square')
        %li= link_to fa_icon('linkedin-square')
  .footer__copyright-bar
    %span © Copyright 2017 Comapny Ltd. Company Reg. 000 000 00
