= "The following item(s) have been dispatched using the following shipping service: #{@order.delivery.delivery_service&.name}"

- if @order.delivery && @order.delivery.trackings.any?
  - tracking = @order.delivery.trackings.first

  = "Tracking information: #{tracking.provider} #{tracking.number}"

  - service = @order.delivery.delivery_service
  - if service.present? && service.provider.present? && service.provider.tracking_link.present?
    Track your parcel here:
    = @order.delivery.delivery_service

- @order.items.each do |item|

  \--------------------------

  = item.name

  = render "c/order_mailer/notify_customer_sku", item: item

  = "Price: #{item.price}"

  = "Quantity: #{item.quantity}"

  \--------------------------

- if @order.click_and_collect?
  The order is ready for collection at our store: 
  
  = C.click_and_collect_address
- else 
  - if @order.shipping_address.present?

    The order has been dispatched to:

    = ['name', 'address_one', 'address_two', 'address_three', 'city', 'region', 'postcode', 'country_name'].map{|call| @order.shipping_address.send(call)}.compact.join(', ')
