The following item(s) will be processed shortly.


- @order.items.each do |item|

  \--------------------------

  = item.name

  = render "c/order_mailer/notify_customer_sku", item: item

  = "Price: #{item.price}"

  = "Quantity: #{item.quantity}"

  \--------------------------


- if @order.checkout_notes
  = @order.checkout_notes 

- if @order.click_and_collect?
  We will be in touch shortly with details when the order is ready for collection.

- else
  The order will be dispatched to the following address.

  = ['name', 'address_one', 'address_two', 'address_three', 'city', 'region', 'postcode', 'country_name'].map{|call| @order.shipping_address.send(call)}.compact.join(', ')


