- if @order.is_a? C::Enquiry
  = @order.body
- else
  = "Dear #{@name&.present? ? @name : @email},"
  
  
  Thank you for your recent order. We really appreciate your business, support and feedback.
  
  
  We would love to hear your feedback, and we would be incredibly grateful if you could take a couple of minutes to write a quick Google review for us. This will allow us to improve our service and let others recognise the value we provide.
  
  
  To submit your review, simply click the link below and let us know what you think.
  
  
  = "#{C.google_review_link}"
  
  
  Thank you so much for taking the time to leave a review. Your feedback is highly appreciated and important to us and we look forward to reading your comments.
  
  
  Many thanks,
  
  
  = "#{C.store_name}"