As a thank you for your recent purchase, we would like to offer you this special voucher for 15% off your next order.


= "Use voucher code: #{@voucher.code}"


= "The voucher can only be applied to one cart and will be available to use for 3 months from #{@voucher.start_time.strftime("%d/%m/%Y")} to #{@voucher.end_time.strftime("%d/%m/%Y")}"


Thanks for you for shopping with us.