$("#images_container").html("<p>Images deleted. Reload or save the form to enable adding alt tags for images.</p><%= escape_javascript(render 'c/admin/products/masters/form_tabs/uploaded_images') %>")

$("#amazon_images_container").html("<%= escape_javascript(render 'select_image', master: @master, channel_type: :amazon) %>")
$("#amazon_channel_images_container").html("<%= escape_javascript(render 'channel_image', master: @master, channel_type: :amazon) %>")

$("#web_images_container").html("<%= escape_javascript(render 'select_image', master: @master, channel_type: :web) %>")
$("#web_channel_images_container").html("<%= escape_javascript(render 'channel_image', master: @master, channel_type: :web) %>")

$("#ebay_images_container").html("<%= escape_javascript(render 'select_image', master: @master, channel_type: :ebay) %>")
$("#ebay_channel_images_container").html("<%= escape_javascript(render 'channel_image', master: @master, channel_type: :ebay) %>")
