
Email:
= @email

Consented to the following:

Inform me of the progress of my order/repair:
= @data['consent_order'] ? 'Yes' : 'No'
    
Inform me of/invite me to promotions/events:
= @data['consent_promotion'] ? 'Yes' : 'No'
    
Inform me of items which might interest me:
= @data['consent_products'] ? 'Yes' : 'No'
    
I consent to being contacted by post:
= @data['consent_contact_post'] ? 'Yes' : 'No'

I consent to being contacted by phone:
= @data['consent_contact_phone'] ? 'Yes' : 'No'

I consent to being contacted by email:
= @data['consent_contact_email'] ? 'Yes' : 'No'