%h3 Review your order

%p.warning
  The order will be confirmed on the Barclaycard website

.checkout__content-summary
  .gs
    .g-2
      %h4 Shipping Address
    .g-2.align-right
      = link_to 'Edit', new_address_checkout_path
  = presenter(@cart.shipping_address).block


.checkout__content-summary
  %h4 Delivery
  %p= "#{@cart.delivery.name}"
  %strong
    %p= humanized_money_with_symbol @cart.delivery.price

.checkout__content-summary
  %h4 Payment

  %p
    Sub total
    %br
    %b= humanized_money_with_symbol @cart.item_subtotal

  %p
    Shipping Cost
    %br
    %b= humanized_money_with_symbol @cart.delivery.price

  %p
    Total
    %br
    %b= humanized_money_with_symbol @cart.price

%form{ action: C::Barclaycard.submit_path, method: 'POST' }
  - C::Barclaycard.form_data_for_cart(@cart).each do |field, value|
    %input{ name: field, type: 'hidden', value: value }
  %input{ name: 'submit', type: 'submit', value: 'Pay with Barclaycard', class: 'btn' }
